page-contact {

}

.feature{

    background-color: #5a5f61;
    margin:5%;
}

.feature p { 
    padding:10%;
    color: #c5c9ca;
    text-align: justify;
    line-height: 1.3em;
    font-size: 15px;

  }

 .button{

    margin:auto;
    display:block;

 }